extends layout
block content
  #mensajeError
  h1 Nueva Encuesta
  form(method="POST" action= usuario.url + "crearEncuesta")
    .form-group
      label Usuario
      input.form-control(name="usuario" disabled="true" value= usuario.local.username placeholder= usuario.local.username)
    .form-group
      label Pregunta:
      input.form-control(name="pregunta", type='text')
    .form-group#opciones
      label Opción 1:
      input.form-control.opcion(name="op1", type='text')
      label Opción 2:
      input.form-control.opcion(name="op2", type='text')
    .form-group
      input.btn.btn-primary#agregaop(type="button", value="Agregar otra opción")
    input.btn.btn-primary(type="submit", value="Crear encuesta" id="btnCrearEncuesta")
    script(src="/js/masopciones.js")
