extends layout
block content
	h1 #{title}
	form(method="post", action="/login")
		#form-group
			label Id:
			input.form-control(name="id", type='text')

		input.btn.btn-primary(type="submit", value="Log in")
