extends layout
block content
  #login
    h1 Log in
    section
      a(href="/auth/github")
        button.btn.btn-primary Log in with Github
          i.fa.fa-github

    br
    section
      h2 Log in local
      form(action="/login" method="post")
        .form-group
          label Username:
            input.form-control(type="text" name="username" autofocus)
        .form-group
          label Password:
            input.form-control(type="password" name="password")
        input.btn.btn-primary(type="submit" value="Log In locally")
