extends layout

block content
  script(src='/js/main.js')
  .row
    .col-sm-12
      a(href= usuario.url + '/crearEncuesta') Crear Encuesta
      h2= usuario_nombre
      // - h2= usuario.local.username
      h3 Encuestas creadas
        if encuestas
          each encuesta, i in encuestas
            .panel.panel-success
              .panel-heading
                h4
                  a(href= encuesta.url)= encuesta.pregunta
                  span=' '
                  if usuario.local.username == encuesta.creador
                    button.btn.btn-danger(class="borrar_encuesta" href="#" data-id= encuesta.url) Borrar encuesta
  hr
  a.btn.btn-danger.borrar-usuario(href='#', data-id=id) Eliminar cuenta de usuario
