extends layout
block content
  h1 #{title}
  if usuarios.length > 0
    ul
      each usuario, i in usuarios
        li.list-group-item
          a(href= usuario.url)= usuario.local.username
  else
    p No hay usuarios aún
