/* Main styling */

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	min-height:100%; 
}

footer {
	width: 100%;
	text-align: center;
	height: 50px;
	position: absolute;
	bottom: 0;
	background-color: black;
	color: orange;
}

p {
	margin: 8px 0 0 0;
}

nav {
	width: 100%;
	background-color: black;
	color: orange;
	height: 40px;
	padding:20px;
  display: grid;
  grid-template-columns: 1fr 1fr
}

.navnav {
  position: absolute;
	right: 30px;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	color: pink;
}

nav ul li a:hover {
	color: orange;
}

nav ul li a:visited {
	color: darkgray;
}

main {
	padding-left: 50px;
	padding-right: 50px;
	margin: auto;
	width: 70%;
}

section {
	margin: auto;
}

#cabecera {
	text-align: center;
}

#brand {
	position: relative;
	left: 0;
}
